<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Telegraph 2.0</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/noteStyle.css}"/>
</head>
<body>
<form action="#" th:action="@{/notes/addnote}" th:object="${note}" method="post">
    <input class="title" th:field="*{title}" type="text"><br>
    <input class="creator" th:field="*{creator}" type="text"><br>
    <input class="text" th:field="*{text}" type="text"><br>
    <input class="categories" th:field="*{categories}" type="text"><br>
    <input type="submit" value="Publish note">
</form>
</body>
</html>